@media screen and (max-width: 840px) {

a {
	text-decoration: none;
	border-style: none;
}

a:link, a:visited {
	text-decoration: none;
	color: #000
}

.logo {
	width: 100%;
	margin: 0;
	padding: 0;
}

.logo a {
	margin: 0;
}

.logo img {
	margin: 0 0 10px 0;
	height: 30px;
	padding: 0;
	border-style:none;
}

.mainHeader {
	position: relative;
	max-width: 1080px;
	margin: 0 auto;
	background-color: rgb(255,255,255);
	z-index: 1;
}

.navBar {
	position: relative;
	width: 100%;
	float: right;
	margin: 0 0 0 0;
	padding: 0;
	display: flex;
	flex-direction:row-reverse;
	border-top: 1px solid rgb(150,150,150);
	border-bottom: 1px solid rgb(150,150,150)
}

.navBar a {
	flex:1;
	align-items:center;
	margin: 0 auto 0px 0;
}

.navBar div {
	height: 40px;
	margin: 0;
	padding: 20px 0 0 0;
	text-align: center;
}

.navBar div:hover {
	position: relative;
	background-color: rgb(255,255,0);
	cursor: pointer;
}

.navBar .active {
	border-left: 1px solid rgb(150,150,150);
	border-right: 1px solid rgb(150,150,150);
}

.langs {
	position: relative;
	width: 100%;
	height: 20px;
}

.langs a {
	float: right;
	margin: 0 5px 0 0;
}

.langs a:hover {
	background-color: rgb(255,255,0);
}

.headerDivider {
	height: 0;
	max-width:1080px; 
	margin: 0 auto 100px auto;
}

}