a {
	text-decoration: none;
	border-style: none;
}

a:link, a:visited {
	text-decoration: none;
	color: #000
}

.logo img {
	width: 300px;
	margin: 0 auto;
	float: left;
	position: absolute;
	top: 0;
	border-style:none; 
	z-index: 1;
}

.mainHeader {
	max-width: 1080px;
	height: 170px;
	margin: 0 auto;
	background-color: rgb(255,255,255);
}

.navBar div {
	position: relative;
	top: 100px;
	left:80px;
	background-color: rgb(255,255,255);
	height: 40px;
	float: right;
	text-align: right;
	border: 1px solid #FFF;
	padding: 20px 20px 0px 20px;
	margin: 0 0 0 0; 
}

.navBar div:hover {
	background-color: rgb(255,255,0);
	cursor: pointer;
}

.navBar .active {
	border: 1px solid #999;
	background-color: rgb(255,255,0);
}

.langs a {
	position: relative;
	bottom: 0;
	right: 0;
	background-color: #FFF;
	height: 20px;
	width: auto;
	float: right;
	text-align: right;
	padding: 5px 5px 3px 5px;
	margin: 0 0 0 0; 
}

.langs a:hover {
	background-color: rgb(255,255,0);
}

.headerDivider {
	height: 0;
	max-width:1080px; 
	margin: 0 auto;
	border-top: 1px solid #999;
}