@media screen and (min-width: 840px) {

footer {
	position: relative;
	width: 100%;
	float: left;
	height: 600px;
	color: #FFF;
	background-color: rgb(30,30,30);
	z-index: -1;
}

.subFooter {
	position: relative;
	width: 99%;
	height: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 0 0 0 0;
}

.subFooter img {
	border-style:none;
}

.mainFooter a:link, .mainFooter a:visited {
	color: #FFF;
	height: 20px
}

.subFooter div {
	float: left;
}

.subFooter div ul {
	list-style: none;
	padding: 0 0;
}

.subFooter .copyright {
	position: absolute;
	bottom: 0;
	left: 0px;
	content: #0FF;
	font-size: 75%;
}

#map1-canvas {
	display: none;
}

#map2-canvas {
	width: 100%;
	height: 218px;
	margin: 0;
}

.location {
	position: relative;
	float: left;
	margin: 25px 0 0 0;
	width: 100%;

}

.location h2 {
	font-weight: normal;
	font-size: 90%;
	margin: 0;
}

.contact {
	position: relative;
	left:5px;
	margin: 0;
	padding: 0;
	width: 20%;

}

.contact h2 {
	font-weight: normal;
	font-size: 90%;
	margin: 15px 0 35px 0;
}

.contact #chippyContact {
	display: none;
}

.contact #chippyContact span {
	position: relative;
	
}

.contact #pedreguerContact {
	margin: 0;
	font-size: 80%;
}

.contact #pedreguerContact span {
	position: relative;
}

.links {
	margin: 0 0;
	width: 25%;
}

#blog h2 {
	margin: 0 1% 35px 0;
	font-size: 100%;
}

#blog .line {
	width: 100%;
	margin: 2px 0;
	line-height: 100px;
}

#blog .line:hover {
	background-color: rgb(150, 150, 150);
}

#blog .blogImgContainer {
	width: 106px;
	overflow: hidden;
}

#blog h3 {
	display: block;
}

#blog span {
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
	width: 40%;
	margin: 5px 0 0 8%;
}

#blog .postDate {
	color: rgb(256,256,100);
	font-size: 80%;
	margin: 0;
	padding: 0;
	display: inline-block;
	float: left;
}

#blog img {
	float: left;
	height: 106px;
	margin: 0;
}

#blog {
	float: left;
	width: 25%;
	margin: 15px 1% 0 3%;
}

#blog a {
	cursor: pointer;
}

#socialButtons {
	position: relative;
	float: right;
	margin: 0 auto;
	width: 20%;
}

#socialButtons h2 {
	position: relative;
	float: left;
	margin: 15px 0 0 55px;
}

#socialButtons input {
	position: absolute;
	left: -99999px;
}

#socialButtonContainer {
	position: relative;
	float: right;
	margin: 0 auto;
	width: 100%;
}

#socialButtons img {
	position: relative;
	float: right;
	margin: 20px 0px 5px 5px;
}

#socialButtons #fbLabel img:hover {
	cursor: pointer;
	background-color: rgb(59,89,152);
}

#socialButtons #twitterLabel img:hover {
	cursor: pointer;
	background-color: rgb(64,153,255);
}

#socialButtons #instagramLabel img:hover {
	cursor: pointer;
	background-color: rgb(63,114,155);
}

#socialButtons #pinterestLabel img:hover {
	cursor: pointer;
	background-color: #cc2127;
}


#socialBox {
	position: relative;
	float: right;
	height: 415px;
	width: 50%;
	bottom: 20px;
	margin: 15px 0 0 0;
	border-radius: 5px;
}

#socialBox h2 {
	position: relative;
	bottom:35px;
}

#fbColumn {
	display: none;
}

#twitterColumn {
	position: relative;
	float: right;
	width: 35%;
	height: 415px;
	margin: 0 0 0 0;
	background-color: #FFF;
	border-radius: 5px;

}

#pinterestColumn {
	position: relative;
	float: left;
	width: 65%;
	overflow: hidden;
}

}