@media screen and (max-width: 840px) {

footer {
	
	width: 100%;
	height: 1000px;
	color: #FFF;
	background-color: rgb(30,30,30);
	z-index: -1;
}

.subFooter {
	position: relative;
	height: 100%;
}

.subFooter img {
	border-style:none;
}

.mainFooter a:link, .mainFooter a:visited {
	color: #FFF;
	height: 20px
}

.subFooter div ul {
	list-style: none;
	padding: 0 0;
}

.subFooter .copyright {
	position: absolute;
	bottom: 0;
	left: 0px;
	content: #0FF;
	font-size: 75%;
}

#map1-canvas {
	display: none;
}

#map2-canvas {
	display: block;
	width: 48%;
	height: 200px;
	margin: 0 auto;
}

.location {
	position: relative;
	display: block;
	width: 100%;
}

.location h2 {
	font-weight: normal;
	margin: 15px 0;
}

.contact {
	position: relative;
	left:5px;
	margin: 0 auto;
	padding: 0 0px;
	width: 98%;
}

.contact h2 {
	font-weight: normal;
	font-size: 95%;
	margin: 15px 0;
	text-align: center;
}

.contact #chippyContact {
	display: none;
}

.contact #chippyContact span {
	position: relative;
	
}

.contact #pedreguerContact {
	width: 100%;
	margin: 0;
	font-size: 80%;
	text-align: center;
}

.contact #pedreguerContact li {
	position: relative;
	display: inline;
}

.contact #pedreguerContact span {
	display: block;
}

.links {
	margin: 0 0;
	width: 25%;
}

#blog h2 {
	margin: 35px 1% 15px 0;
	font-size: 100%;
	text-align: center;
}

#blog .line {
	width: 100%;
	height: 110px;
	margin: 0;
}

#blog .line:hover {
	background-color: rgb(150, 150, 150);
}

#blog .blogImgContainer {
	float: left;
	width: 150px;
	margin: 5px 15px 0 5px;
	overflow: hidden;
}

#blog h3 {
	margin: 0 0 0 5px;
}

#blog .postDate {
	margin: 0 0 0 5px;
	color:rgb(256, 256, 150);
}

#blog img {
	height: 100px;
}

#blog {
	width: 100%;
	margin: 0;
}

#blog a {
	cursor: pointer;
}

#socialButtons {
	display: block;
	width: 100%;
}

#socialButtons input {
	display: none;
	position: absolute;
	left: -99999px;
}

#socialButtonContainer {
	margin: 25px auto 15px auto;
	width: 190px;
}

#socialButtons img {
	margin: 25px 2px;
	width: 40px;
}

#socialButtons #fbLabel img:hover {
	cursor: pointer;
	background-color: rgb(59,89,152);
}

#socialButtons #twitterLabel img:hover {
	cursor: pointer;
	background-color: rgb(64,153,255);
}

#socialButtons #instagramLabel img:hover {
	cursor: pointer;
	background-color: rgb(63,114,155);
}

#socialButtons #pinterestLabel img:hover {
	cursor: pointer;
	background-color: #cc2127;
}


#socialBox {
	display: none;
	position: relative;
	height: 350px;
	width: 20%;
	float: right;
	margin: 10px auto 0 auto;
	border-radius: 5px;
}

#fbColumn {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto 0 auto;
	background-color: #FFF;
	display: none;
}

#twitterColumn {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto 0 auto;
	background-color: #FFF;
	border-radius: 5px;

}

#pinterestColumn {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto 0 auto;
	background-color: #000;
	display: none;
}

}