@media screen and (max-width: 840px) {

main {
	position: relative;
	width: 99%;
	max-width: 1080px;
	margin: 50px auto;
}

h1 {
	position: relative;
	bottom: 50px;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
}

h2, h3 {
	font-weight: lighter;
	font-size: 150%;
	margin: 0;
	padding: 0;
}

ul, ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}





/* HOME */
#homeGallery {
	position: relative;
	width: 90%;
	margin: 50px auto 50px auto;
}

#homeGallery .imgWindow {
	position: relative;
	width: 100%;
	overflow: hidden;
}

#homeGallery .imgContainer {
	position: relative;
	left: 0%;
	opacity: 1;
	margin: 0 auto;
	width: 800%;
}

#homeGallery .imgContainer figure {
	position: relative;
	left: 0;
	margin: 0 auto;
	opacity: 1;
}

#homeGallery .imgContainer img {
	width: 12.5%;
	float: left;
	opacity: 0;
}

#homeGallery .imgSelect {
	position: relative;
	display: flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:flex-start;
	align-items:flex-start;
	align-content:flex-end;
	height: 50px;
	width: 100%;
}

#homeGallery .imgSelect label {
	position: relative;
	margin: 1px 0px 0 0px;
	height: 15px;
	width: 12.5%;
	background-color: rgb(30,30,30);
}

#homeGallery .imgSelect input[type="radio"] {
	display: none;
	position: absolute;
	left: -99999px;
}

#homeGallery .imgSelect input[type="radio"]:checked + label {
	background-color: rgb(150,150,150);
}

#homeGallery .imgSelect label:hover {
	background: rgb(255,255,0);
	cursor: pointer;
}

#homeGallery .back {
	position: absolute;
	float: left;
	width: 50%;
	z-index: 1;
	opacity: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#homeGallery .back:hover {
	opacity: 1;
	cursor: pointer;
}

#homeGallery .forward {
	position: absolute;
	left: 50%;
	float: right;
	width: 50%;
	z-index: 1;
	opacity: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#homeGallery .forward:hover {
	opacity: 1;
	cursor: pointer;
}

#homeGallery .back img {
	float: left;
	height: 40px;
	width: 40px;
	margin: 50% 0 50% 0;
}

#homeGallery .forward img {
 	float: right;
 	height: 40px;
	width: 40px;
	margin: 50% 0 50% 0;
}





/* TEAM */
#peopleContainer {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

#jaumeColumn {
	position: relative;
	width: 49%;
	float: left;
}

#jaumeHeaderDiv {
	display: inline-block;
	width: 100%;
	height: 30px;
	padding: 0 0 0 0;
	margin: 0 0 10px 0;
	background-color: #101010;
}

#jaumeHeaderDiv h3 {
	color: #FFF;
	padding: 0 0 0 0;
	margin: 5px 0 0px 5px;
}

#jaumeColumn img {
	position: relative;
	width: 50%;
	height: auto;
	float: left;
	margin: 10px 10px 0 0;
}

#laiaColumn {
	position: relative;
	width: 49%;
	float: right;
}

#laiaHeaderDiv {
	display: inline-block;
	width: 100%;
	height: 30px;
	padding: 0 0 0 0;
	margin: 0 0 10px 0;
	background-color: #101010;
}

#laiaHeaderDiv h3 {
	color: #FFF;
	padding: 0 0 0 0;
	margin: 5px 0 0px 5px;
}

#laiaColumn img {
	position: relative;
	width: 50%;
	height: auto;
	float: left;
	margin: 10px 10px 0 0;
}

#CollabColumn {
	position: relative;
	width: 100%;
	float: right;
}

#CollabHeaderDiv h3 {
	color: #FFF;
	padding: 0 0 0 0;
	margin: 5px 0 0px 5px;
}

#CollabHeaderDiv {
	display: inline-block;
	width: 100%;
	height: 30px;
	padding: 0 0 0 0;
	margin: 0 0 10px 0;
	background-color: #101010;
}





/* ABOUT US */
#blockContainer {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 0 0 0 0;
}

#creativity {
	position: relative;
	float: left;
	width: 30%; 
	margin: 0 1% 0 2%;
}

#commitment {
	position: relative;
	float: left;
	width:30%; 
	margin: 0 1% 0 1%;
}

#professionalism {
	position: relative;
	float: left;
	width:30%; 
	margin: 0 2% 50px 1%;
}

#design {
	position: relative;
	float: left;
	width:30%; 
	margin: 0 1% 50px 2%;
}

#construction {
	position: relative;
	float: left;
	width:30%; 
	margin: 0 1% 50px 1%;
}

#blockContainer #creativity h3, #blockContainer #commitment h3, #blockContainer #professionalism h3 {
	position: relative;
	margin: 0 auto;
	display: block;
	padding: 0 5px;
	background-color: #FF0;
}

#blockContainer #design h3, #blockContainer #construction h3, #blockContainer #techServices h3 {
	position: relative;
	margin: 0 auto;
	display: block;
	padding: 0 5px;
	background-color: #000;
	color: #FFF;
}

#techServices {
	position: relative;
	float: left;
	width:30%; 
	margin: 0 2% 50px 1%;
}

#blockContainer .content {
	position: relative;
	margin: 0 auto;
	margin: 1% 1% 1% 1%;
	display: block;
}

#blockContainer .footer {
	position: relative;
	margin: 0 auto;
	margin: 0;
	padding: 1% 1% 1% 1%;
	display: block;
	background-color: rgb(224,224,224);
	color: #000;
}





/* Projects */
#projectsContainer {
	position: relative;
	width: 100%;
	margin: 0 auto;
	background-color: #FFF;
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  	flex-direction: column;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	align-items: flex-start;
	justify-content:flex-start;
}

.flexbox {
	position: relative;
	background-color: #FFF;
	height: 205px;
	max-width: 48%;
	min-width: 100%;
	flex:1 auto;
	margin: 10px auto 1px auto;
	overflow: hidden;
}

#projectsContainer .flexboxHeader {
	position: absolute;
	bottom: 0px;
	height: 25px;
	width: 100%;
	color: #000;
	padding: 9px 10px 0 10px;
	background-color: rgb(236,236,236);
	margin: 0 0;
	font-size: 80%;
}

#projectsContainer .flexboxHeader:hover {
	cursor: pointer;
}

#projectsContainer div img {
	position: relative;
	bottom: 20px;
	width: 100%;
}

.projectFlexboxInfo {
	position: absolute;
	flex:1 auto;
	top: 0px;
	height: 175px;
	float: left;
	background-color: rgb(236,236,236);
	width: 100%;
	z-index: 1;
	opacity: 0;
	overflow: hidden;
	transition:opacity, 0.25s, ease;
}

.projectFlexboxInfo:hover, .flexboxHeader:hover + .projectFlexboxInfo {
	opacity: 0.8;
	cursor: pointer;
}

.projectFlexboxInfo .title {
	margin: 15px;
	padding: 0;
	font-weight: bold;
}

.projectFlexboxInfo .description {
	margin: 15px;
}

.projectFlexboxInfo .details {
	margin: 15px;
}






/* Project Details */
.tags {
	position: relative;
	bottom: 35px;
	margin: 0;
	padding: 0;
	
}

.tags li {
	display: inline;
	font-size: 110%;
}

.projectDesc {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 98%;
	
}

.projectDesc .title {
	margin: 0;
	padding: 0;
}

.projectDesc .description {
	position: relative;
	bottom: 15px;
	color: rgb(120,120,120);
	width: 75%;
	margin: 0;
	padding: 0;
}

.projectDesc .details {
	margin: 0;
	padding: 0;
}

.projectDesc .extraDescription {
	position: relative;
	color: rgb(120,120,120);
	width: 75%;
	margin: 5px 0;
	padding: 0;
}

#prevProject {
	position: absolute;
	top: 25px;
	right: 41px;
	height: 30px;
	width: 30px;
	background-color: #101010;
	color: #FFF;
}

#nextProject {
	position: absolute;
	top: 25px;
	right: 10px;
	height: 30px;
	width: 30px;
	background-color: #101010;
	color: #FFF;
}

#prevProject p, #nextProject p {
	margin: -2px 0 5px 8px;
	padding: 0;
	font-size: 150%;
}

#prevProject:hover, #nextProject:hover {
	background-color: rgb(100,100,100);
}

.projectGallery {
	position: relative;
	width: 90%;
	margin: 0 auto 50px auto;
	overflow: hidden;
}

.projectGallery .imgWindow {
	position: relative;
	width: 100%;
	max-height: 200px;
	margin: 0 auto;
}

.projectGallery .imgContainer {
	position: relative;
	opacity: 1;
	margin: 0 auto;
	width: 10000%;
	height: 100%;
}

.projectGallery .imgContainer figure {
	position: relative;
	left: 0;
	margin: 0 auto;
	opacity: 1;
}

.projectGallery .imgContainer img {
	height: 190px;
	margin: 0 0 25px 0;
	float: left;
	opacity: 0;
}

.projectGallery .imgSelect {
	margin: auto;
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:flex-start;
	align-items:flex-start;
	align-content:flex-end;
	width: 100%;
}

.projectGallery .imgSelect label {
	position: relative;
	float: left;
	padding: 0;
	margin: 0;
}

.projectGallery .imgSelect label img {
	height: 25px;
	flex-grow:2;
	flex-shrink:1;
	margin: 0px 3px;
	padding: 0;
	opacity: 0.9;
}

.projectGallery .imgSelect label:hover img {
	opacity: 1;
	cursor: pointer;
}

.projectGallery .imgSelect input[type="radio"] {
	display: none;
	position: absolute;
	left: -99999px;
}

.projectGallery .imgSelect input[type="radio"]:checked + label {
	
}

.projectGallery .imgSelect label:hover + img{

}


.projectGallery .back {
	position: absolute;
	float: left;
	width: 50%;
	height:200px;
	z-index: 1;
	opacity: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.projectGallery .back:hover {
	opacity: 1;
	cursor: pointer;
}

.projectGallery .forward {
	position: absolute;
	left: 50%;
	float: right;
	width: 50%;
	height:200px;
	z-index: 1;
	opacity: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.projectGallery .forward:hover {
	opacity: 1;
	cursor: pointer;
}

.projectGallery .back img {
	position: absolute;
	left:5px;
	bottom: 10px;
	width: 15%;
	height: 15%;

}

.projectGallery .forward img {
	position: absolute;
	bottom: 10px;
	right: 25px;
	width: 15%;
	height: 15%;
}

}