#projectsContainer {
	width: 100%;
	height: 500px;
	background-color: #0FF;

  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;

	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
}

#projectsContainer div {
	background-color: #FF0;
	width: 500px;
	height: 50px;
	border:1px solid #000;
}