@media screen and (min-width: 1080px) {

.mainContent {
	width:100%;
	height: 1000px;
	max-width: 1080px;
	margin: 100px auto;
	padding: 0 0 0 0;
	background-color: #FFF;
}

#slideShowWindow {
	background-color: #FF1;
	display: block;
	max-width: 1080px;
	margin: 100px auto;
	height: 60.7%;
	position: relative;
	overflow: hidden;
}

#slideShow {
	margin:; 0 0 0 0;
	height: 100%;
	width: 100%;
}

#slideShow #innerSlideShow {
	background-color: #1FF;
	width: 600%;
	height: 100%;
	margin:; 0 0 0 0;
	position: relative;
	transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
	#-webkit-animation-name: slider;
	#-webkit-animation-duration: 30s;
	#-webkit-animation-fill-mode: none;
	#-webkit-animation-delay:2s;
	#-webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

#slideShow #innerSlideShow figure {
	background-color: #000;
	height: 100%;
	width: 16.666%;
	margin: 0 0 0 0;
	float: left;
}

#slideShow #innerSlideShow figure img {
	height: 100%;
	width: auto;
}

#slideShow input[type="radio"] {
    position: absolute;
    left: 50%;
    bottom: 0px;
    z-index: 1;
    visibility: hidden;
}

#slideShow label {
    position: absolute;
    left: 50%;
    bottom: -45px;
    z-index: 100;
    width: 12px;
    height: 12px;
    background-color: rgba(200,200,200,1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

#slideShow input[type=radio]#button-1:checked~#innerSlideShow { left: 0;}
#slideShow input[type=radio]#button-2:checked~#innerSlideShow { left: -100%;}
#slideShow input[type=radio]#button-3:checked~#innerSlideShow { left: -200%;}
#slideShow input[type=radio]#button-4:checked~#innerSlideShow { left: -300%;}
#slideShow input[type=radio]#button-5:checked~#innerSlideShow { left: -400%;}
#slideShow input[type=radio]#button-6:checked~#innerSlideShow { left: -500%;}

#slideShow label[for=button-1] { margin-left: -36px }
#slideShow label[for=button-2] { margin-left: -18px }
#slideShow label[for=button-3] { margin-left: -0px }
#slideShow label[for=button-4] { margin-left: 18px }
#slideShow label[for=button-5] { margin-left: 36px }
#slideShow label[for=button-6] { margin-left: 54px }

#slideShow input[type=radio]#button-1:checked~label[for=button-1] { background-color: rgba(100,100,100,1) }
#slideShow input[type=radio]#button-2:checked~label[for=button-2] { background-color: rgba(100,100,100,1) }
#slideShow input[type=radio]#button-3:checked~label[for=button-3] { background-color: rgba(100,100,100,1) }
#slideShow input[type=radio]#button-4:checked~label[for=button-4] { background-color: rgba(100,100,100,1) }
#slideShow input[type=radio]#button-5:checked~label[for=button-5] { background-color: rgba(100,100,100,1) }
#slideShow input[type=radio]#button-6:checked~label[for=button-6] { background-color: rgba(100,100,100,1) }

#@-webkit-keyframes slider {
#	0% { left:0; #}
#	16.667% { left:-100%; }
#	33.333% { left:-200%; }
#	49.999% { left:-300%; }
#	66.666% { left:-400%; }
#	83.333% { left:-500%; }
#	100% { left:-500%; }
#}

}